body, html {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden; /* Evita rolagem horizontal */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}

h1 {
    margin: 10px 0;
    font-size: 2em;
}

p {
    margin: 5px 0;
    font-size: 1.2em;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.1em;
}

ul.educacao {
    list-style-type: disc;
    padding: 0;
    margin-left: 18px;
}

.links a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #a3a3a3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

/* Canvas para o cursor personalizado */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none; /* Permite interação com elementos abaixo do canvas */
    z-index: 9999; /* Garante que o canvas fique acima de tudo */
}